<div class="ui container Main">
  <h2 class="ui header aligned center">Im Nachhilfeportal anmelden</h2>
  <div class="ui segment raised LoginForm">
    <form class="ui form">
      <div class="field">
        <label>E-Mail Adresse</label>
        <input type="text" name="first-name" placeholder="max.muster@gmail.com">
      </div>
      <div class="field">
        <label>Passwort</label>
        <input type="password" name="last-name" placeholder="*********">
      </div>
      <div class="ui center aligned grid">
        <button class="ui button primary SubmitBtn" type="submit">Anmelden <i class="icon right sign-in"></i></button>
      </div>
    </form>
  </div>
</div>
