<div class="ui container Main">
  <h2 class="ui header aligned center">Im Nachhilfeportal anmelden</h2>
  <div class="ui segment raised LoginForm">

    <form class="ui form" [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="field">
        <label>E-Mail Adresse</label>
        <input type="text" name="first-name" placeholder="max.muster@gmail.com" formControlName="username">
        <div *ngIf="
            loginForm.get('username')?.invalid &&
            (loginForm.get('username')?.dirty ||
             loginForm.get('username')?.touched) &&
             loginForm.get('username')?.hasError('required')"
             class="ui negative message">
          E-Mail-Adresse ist verpflichtend!
        </div>
        <div *ngIf="
            loginForm.get('username')?.invalid &&
            (loginForm.get('username')?.dirty ||
             loginForm.get('username')?.touched) &&
             loginForm.get('username')?.hasError('email')"
             class="ui negative message">
          E-Mail-Adresse ungültig!
        </div>
      </div>

      <div class="field">
        <label>Passwort</label>
        <input type="password" name="last-name" placeholder="*********" formControlName="password">
        <div *ngIf="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty ||
             loginForm.get('password')?.touched) &&
             loginForm.get('password')?.hasError('required')"
             class="ui negative message">
          Password ist verpflichtend!
        </div>
      </div>

      <div class="ui center aligned grid">
        <button class="ui button primary SubmitBtn" type="submit" [disabled]="loginForm.invalid">Anmelden<i class="icon right sign-in"></i></button>
      </div>

    </form>

  </div>
</div>
