<div *ngIf="offers && !offers.length" class="ui active dimmer">
  <div class="ui large text loader">
    Daten werden geladen...
  </div>
</div>

<!-- List Segments -->
<div *ngFor="let offer of offers" class="ui segment raised LearningOffer_ListItem">
  <div class="ui middle aligned padded stackable grid">
    <div class="three column row">
      <div class="column">
        <div class="ui middle aligned grid">
          <div class="two column row">
            <div class="six wide column">
              <img class="ProfileImage" src="{{ offer.owner.imagepath }}"
                   alt="Profilbild von {{ offer.owner.firstname }} {{ offer.owner.lastname }}" width="100px">
            </div>
            <div class="column">
              <p><b>{{ offer.owner.firstname }} {{ offer.owner.lastname }}</b><br>{{ offer.owner.user_semester }}. Semester</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <p><b>{{ offer.subject.title }}</b><br>{{ offer.subject.subject_semester }}. Semester</p>
      </div>
      <div class="column">
        <a *ngIf="isLoggedIn()" class="ui button green small"><i class="icon left check circle outline"></i>Annehmen</a>
        <a *ngIf="isLoggedIn()" (click)="removeOffer(offer)" class="ui button red small"><i class="icon left delete"></i>Löschen</a>
        <a [attr.offer]="offer" routerLink="/../offers/{{offer.id}}"
           class="ui button blue small">Mehr<i class="right arrow icon"></i></a>
        <p class="LearningOffer_Accepted"><i>Angebot angenommen<br>von {{ offer.learner?.firstname }} {{ offer.learner?.lastname }}</i></p>
      </div>
    </div>
  </div>
</div>
