<div class="ui container Main">
  <div *ngIf="offer" class="ui segment raised LearningOffer_Detail">
    <div class="ui middle aligned padded stackable grid">
      <div class="three column row">
        <div class="column">
          <div class="ui middle aligned grid">
            <div class="two column row">
              <div class="six wide column">
                <img class="ProfileImage" src="{{ offer.owner.imagepath }}"
                     alt="Profilbild von {{ offer.owner.firstname }} {{ offer.owner.lastname }}" width="100px">
              </div>
              <div class="column">
                <p><b>{{ offer.owner.firstname }} {{ offer.owner.lastname }}</b><br>{{ offer.owner.user_semester }}. Semester</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <p><b>{{ offer.subject.title }}</b><br>{{ offer.subject.subject_semester }}. Semester</p>
        </div>
        <div class="column">
          <p class="LearningOffer_Created">
            <i>Angebot erstellt<br>von {{ offer.owner.firstname }} {{ offer.owner.lastname }}<br>am {{ offer.created_at | date:'dd.MM.YYYY'}}</i>
          </p>
        </div>
      </div>
      <div class="LearningOffer_Detail_Description">
        <p><b>Beschreibung</b><br>{{ offer.description }}</p>
      </div>
      <div class="three column row">
        <div class="column">
          <div class="LearningOffer_Detail_Dates">
            <p><b>Meine verfügbaren Termine</b><br>
              <span *ngFor="let date of offer.meetingdates; last as l">
                {{ date.day | date:'dd.MM.YYYY'}}, von {{ date.from | date:'HH:mm'}} bis {{ date.to | date:'HH:mm'}}
                <br *ngIf="!l">
              </span>
            </p>
          </div>
        </div>
        <div class="column"></div>
        <div class="column bottom aligned">
          <a [routerLink]="['/../offers/form', offer?.id]" class="ui button grey small"><i class="icon left edit"></i>Bearbeiten</a>
          <a (click)="removeOffer()" class="ui button red small"><i class="icon left delete"></i>Löschen</a>
          <p class="LearningOffer_Accepted">
            <i>Angebot angenommen<br>von {{ offer.learner?.firstname }} {{ offer.learner?.lastname }}<br>am {{ offer.accepted_at | date:'dd.MM.YYYY'}}</i>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/../home" class="ui button primary"><i class="icon left arrow left"></i>Zurück zur Liste</a>
</div>
