<div class="ui container Main">

<div class="ui segment raised LearningOffer_Detail">
  <div class="ui middle aligned padded stackable grid">
    <div class="three column row">
      <div class="column">
        <div class="ui middle aligned grid">
          <div class="two column row">
            <div class="six wide column">
              <img src="https://profile-images.xing.com/images/8e1dd22e7ad7b4e0f0212571e3d7c96a-2/jonas-mautner.1024x1024.jpg" alt="..."
                   style="border-radius: 100%;" width="100px">
            </div>
            <div class="column">
              <p><b>Jonas Mautner</b><br>6. Semester</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <p><b>Datenmodellierung und Datenbankdesing</b><br>3. Semester</p>
      </div>
      <div class="column">
        <p class="LearningOffer_Created">
          <i>Angebot erstellt<br>von Alexander Schönmann<br>am 01.08.2022</i>
        </p>
      </div>
    </div>
    <div class="LearningOffer_Detail_Description">
      <p><b>Beschreibung</b><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur, exercitationem
        fuga hic id illo ipsam itaque iure minus omnis, praesentium quam quia repudiandae tempora temporibus ut, vel veniam vitae.
      </p>
    </div>
    <div class="three column row">
      <div class="column">
        <div class="LearningOffer_Detail_Dates">
          <p><b>Meine verfügbaren Termine</b><br>
            12.09.2022 - 13.00 bis 14.00 Uhr<br>
            12.09.2022 - 13.00 bis 14.00 Uhr<br>
            12.09.2022 - 13.00 bis 14.00 Uhr
          </p>
        </div>
      </div>
      <div class="column"></div>
      <div class="column bottom aligned">
        <p class="LearningOffer_Accepted">
          <i>Angebot angenommen<br>von Alexander Schönmann<br>am 01.08.2022</i>
        </p>
      </div>
    </div>
  </div>
</div>
<button class="ui button primary"><i class="icon left arrow left"></i>Zurück zur Liste</button>

<div class="ui segment raised LearningOffer_Detail">
  <div class="ui middle aligned padded stackable grid">
    <div class="three column row">
      <div class="column">
        <div class="ui middle aligned grid">
          <div class="two column row">
            <div class="six wide column">
              <img src="https://profile-images.xing.com/images/8e1dd22e7ad7b4e0f0212571e3d7c96a-2/jonas-mautner.1024x1024.jpg" alt="..."
                   style="border-radius: 100%;" width="100px">
            </div>
            <div class="column">
              <p><b>Jonas Mautner</b><br>6. Semester</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <p><b>Datenmodellierung und Datenbankdesing</b><br>3. Semester</p>
      </div>
      <div class="column">
        <p class="LearningOffer_Created">
          <i>Angebot erstellt<br>von Alexander Schönmann<br>am 01.08.2022</i>
        </p>
      </div>
    </div>
    <div class="LearningOffer_Detail_Description">
      <p><b>Beschreibung</b><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur, exercitationem
        fuga hic id illo ipsam itaque iure minus omnis, praesentium quam quia repudiandae tempora temporibus ut, vel veniam vitae.
      </p>
    </div>
    <div class="three column row">
      <div class="column">
        <div class="LearningOffer_Detail_Dates">
          <p><b>Meine verfügbaren Termine</b><br>
            12.09.2022 - 13.00 bis 14.00 Uhr<br>
            12.09.2022 - 13.00 bis 14.00 Uhr<br>
            12.09.2022 - 13.00 bis 14.00 Uhr
          </p>
        </div>
      </div>
      <div class="column"></div>
      <div class="column bottom aligned">
        <div class="ui button grey small"><i class="icon left edit"></i>Bearbeiten</div>
        <div class="ui button red small"><i class="icon left delete"></i>Löschen</div>
      </div>
    </div>
  </div>
</div>
<button class="ui button primary"><i class="icon left arrow left"></i>Zurück zur Liste</button>

</div>
