<div class="ui container Main">
  <h2 class="ui header aligned center">Nachhilfeangebot bearbeiten oder erstellen</h2>
  <div class="ui segment raised EditOfferForm">
    <form class="ui form">
      <div class="grouped fields">
        <label>Bitte wähle eine Lehrveranstaltung aus, zu der du Nachhilfe anbieten möchtest!</label>
        <div *ngFor="let subject of subjects">
          <div class="field">
            <div class="ui radio checkbox">
              <input *ngIf="offer.subject.id === subject.id" type="radio" name="subject" id="edit_{{ subject.id }}" checked="checked" class="hidden">
              <input *ngIf="offer.subject.id !== subject.id" type="radio" name="subject" id="edit_{{ subject.id }}" class="hidden">
              <label for="edit_{{ subject.id }}">{{ subject.title }} ({{ subject.subject_semester }}.Semester)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="edit_description">Bitte beschreibe kurz dein Nachhilfeangebot!</label>
        <textarea id="edit_description">{{ offer.description }}</textarea>
      </div>
      <div class="field">
        <label>Meine verfügbaren Termine</label>
        <div *ngFor="let date of offer?.meetingdates; index as i; last as l" >
          <div class="AvailableDate">
            <div><label for="edit_date_at_{{i+1}}">Am</label><input id="edit_date_at_{{i+1}}" type="date" value="{{date.day | date:'YYYY-MM-dd'}}"></div>
            <div><label for="edit_date_from_{{i+1}}">Von</label><input id="edit_date_from_{{i+1}}" type="time" value="{{date.from | date:'HH:mm'}}"></div>
            <div><label for="edit_date_to_{{i+1}}">Bis</label><input id="edit_date_to_{{i+1}}" type="time" value="{{date.to | date:'HH:mm'}}"></div>
          </div>
          <button *ngIf="l" class="ui icon button grey small"><i class="icon add"></i></button>
        </div>
      </div>
      <div class="ui center aligned grid">
        <button class="ui button green SubmitBtn" type="submit"><i class="icon left save"></i>Angebot speichern</button>
      </div>
    </form>
  </div>
</div>
