<div class="ui container Main">
  <h2 class="ui header aligned center">Nachhilfeangebot bearbeiten oder erstellen</h2>
  <div class="ui segment raised EditOfferForm">

    <form class="ui form" [formGroup]="offerForm" (ngSubmit)="submitForm()">
      <input type="hidden" formControlName="id">

      <div class="grouped fields">
        <label>Bitte wähle eine Lehrveranstaltung aus, zu der du Nachhilfe anbieten möchtest!</label>
        <div *ngFor="let subject of subjects; index as i">
          <div class="field">
            <div class="ui radio checkbox Radiobutton_Item">
              <input formControlName="subject_id" type="radio" name="subject_id" id="{{ subject.id }}" value="{{ subject.id }}" class="hidden">
              <label *ngIf="this.offerForm && this.offerForm.controls['subject_id'].value && this.offerForm.controls['subject_id'].value == (i+1)"
                for="{{ subject.id }}">{{ subject.title }} ({{ subject.subject_semester }}.Semester) - <b style="color: #2185D0;">ausgewählt</b></label>
              <label *ngIf="this.offerForm && this.offerForm.controls['subject_id'].value && this.offerForm.controls['subject_id'].value != (i+1)"
                for="{{ subject.id }}">{{ subject.title }} ({{ subject.subject_semester }}.Semester)</label>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label for="description">Bitte beschreibe kurz dein Nachhilfeangebot!</label>
        <textarea formControlName="description" id="description">{{ offer?.description }}</textarea>
      </div>

      <div class="field">
        <label>Meine verfügbaren Termine</label>
        <div formArrayName="meetingdates" >
          <div *ngFor="let date of meetingdates.controls; index as i; last as l" [formGroupName]="i">
            <div class="AvailableDate">
              <input type="hidden" formControlName="id">
              <div><label for="date_at_{{i+1}}">Am</label>
                <input formControlName="day" id="date_at_{{i+1}}" type="date">
              </div>
              <div><label for="date_from_{{i+1}}">Von</label>
                <input formControlName="from" id="date_from_{{i+1}}" type="time">
              </div>
              <div><label for="date_to_{{i+1}}">Bis</label>
                <input formControlName="to" id="date_to_{{i+1}}" type="time">
              </div>
            </div>
          </div>
          <button (click)="addThumbnailControl()" class="ui icon button grey small" type="button"><i class="icon add"></i></button>
        </div>
      </div>

      <div class="ui center aligned grid">
        <button class="ui button green SubmitBtn" type="submit"><i class="icon left save"></i>Angebot speichern</button>
      </div>

    </form>
  </div>
  <a [routerLink]="['/../offers/', offer?.id]" class="ui button primary"><i class="icon left arrow left"></i>Zurück zum Angebot</a>
</div>
